section.cps-section {
    width: 100%;
    display: block;
    float: unset;
    margin-left: auto;
    margin-right: auto;
    
}

.std {
    width: 100%;
    float: left;
    background: #e9e9e9;
}
.cps-container {
    position: relative;
    max-width: 1350px;
    margin: auto;
    padding:20px 0px;
   
}
.dropdown, .dropstart {
    position: relative;
}
.filter-jobs .dropdown .btn-light {
    border: 1px solid #dee2e6;
}
.dropdown-toggle {
    white-space: nowrap;
}
.btn-light {
    color: #000;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}
.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-color: white;
    
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.filter-jobs .dropdown .badge {
    padding: 2px 5.5px;
    color: white;
    font-size: 13px;
    margin-right: 2px;
}
rounded-pill {
    border-radius: 50rem !important;
}
filter-jobs .dropdown-toggle::after {
    margin-left: 55px;
    zoom: 1.1;
}
.filter-jobs .dropdown-menu {
    font-size: 16px;
    border-radius: 0.25rem;
    padding: 6px 14px;
    border: 1px solid #dee2e6;
    background-color: white;
    color: black;
}
    .filter-jobs .dropdown-menu::before {
        display: inline-block;
        margin-left: 0.255em;
        vertical-align: 0.255em;
        content: "";
        border-top: 0;
        border-right: 0.3em solid transparent;
        border-bottom: 0.3em solid;
        border-left: 0.3em solid transparent;
        position: absolute;
        top: -5px;
        color: white;
    }
.show {
    display: block;
    position: absolute;
    inset: 0px auto auto 0px;
    margin: 0px;
    transform: translate(0px, 45px);
}
.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}
.input-group-prepend{
    display: block;
    margin-left: 2px;
}
.search-page__main-content {
    margin-top: 30px;
    max-width: 1350px;
    margin: 30px auto 0;
    display: grid;
    grid-template-columns: 600px 1fr;
    background-color: #fff;
}
.search-page__jobs {
    overflow: hidden;
    background: white;
    border-right: 1px solid #e9e9e9;
}
.search-page__jobs {
    
    position: sticky;
    top: 60px;
    height: calc(100vh - 60px);
}
.search-page__jobs-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
}
.search_jobs #jobs {
    padding: 0;
}
#jobs {
    max-width: 755px;
    display: inline-block;
    margin: 0 auto;
    padding: 0 10px;
    background: white;
}
.w-100 {
    width: 100% !important;
}
#jobs h1, #jobs .h1 {
    font-size: 27px;
    color: #221f20;
    line-height: 35px;
    margin-top: 10px;
    padding-top: 10px;
    padding-left: 10px;
    height: auto;
}
#jobs .first-group {
    clear: both;
}
.super-hot-job .job-content {
    border-top: 2px solid rgba(255, 192, 121, 0.5);
    background: #fff1e1 !important;
    z-index: 4;
}
.job .job-content {
    display: flex;
    z-index: 3;
    position: relative;
    border-top: 1px solid #e7e7e7;
    overflow: hidden;
    font-weight: 400;
    padding: 27px 0;
    transition: all 0.25s ease;
}
.job--selected .job-content {
    border: 1px solid #ea2635;
    border-radius: 3px;
    position: relative;
}
.job--selected .job-content::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 5px;
    background-color: #ea2635;
    z-index: 7;
}
.job .job-content .logo {
    margin: 4px 30px 0 25px;
}
.job .job-content .logo img {
    border: 1px solid #ccc;
    background-color: white;
    padding: 3px;
    width: 65px;
    height: 65px;
    display: inline-block;
    overflow: hidden;
}
.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.job__description {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
}
.job__body {
    display: flex;
}
.job .job-content .details {
    font-size: 13px;
    overflow: hidden;
    flex-grow: 1;
}
.search-page__jobs .job .job-content .details .title {
    white-space: normal;
}
.job .job-content .details .title {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 5px;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    line-height: 28px;
    font-weight: 500;
    overflow: hidden;
    
    color: #353535;
    text-overflow: ellipsis;
}
    .job .job-content .details .title a {
        color: #231f20;
        text-decoration:none;
    }
.svg-icon {
    display: flex;
    align-items: center;
}
.svg-icon--rounded .svg-icon__icon {
    border: 1px solid currentColor;
    border-radius: 50%;
    padding: 1px;
}
.svg-icon__icon {
    fill: currentColor;
    width: 14px;
    height: 14px;
    color: #7a7a7a;
    flex-shrink: 0;
}
.svg-icon--green .svg-icon__icon, .svg-icon--green .svg-icon__text {
    color: var(--green);
}
.svg-icon__text {
    margin-left: 10px;
}
.super-hot-job .benefits {
    padding: 0 0 0 19px;
    margin: 10px 0px;
    font-weight: 500;
    font-size: 14px;
}
    .super-hot-job .benefits > li {
        padding-bottom: 3px;
    }
.job .job-content .city_and_posted_date {
    font-size: 13px;
    
    margin-right: 20px;
    margin-left: 10px;
    text-align: right;
    
    flex-direction: column;
    justify-content: space-between;
    min-width: 100px;
}
.job .job-content .city_and_posted_date .feature {
    background: #ff9e34;
    font-family: "Roboto Condensed", sans-serif;
    display: inline-block;
}
.job .job-content .city_and_posted_date .new {
    padding: 2px 10px;
    min-width: 45px;
    text-align: center;
    align-self: flex-end;
}
.job .job-content .city_and_posted_date .address .text {
    color: #a6a8ab;
    display:block;
}
.job .job-content .distance-time-job-posted {
    font-size: 13px;
}
.super-hot-job .job-content .job-bottom {
    margin-top: 0;
}
.job .job-content .job-bottom {
    width: 100%;
    font-size: 0;
    display: flex;
    justify-content: space-between;
}
.job .job_content .job-bottom .tag-list {
    margin: 0;
    display: inline-block;
}
    .job .job_content .job-bottom .tag-list a {
        margin-top: 10px;
    }
.ilabel {
    transition: all 0.2s ease;
    margin: 0 10px 0 0;
    padding: 4px 5px;
    background: transparent;
    border: 1px solid #D2D3D3;
    color: #575656;
    font-size: 12px;
    font-weight: normal;
    text-decoration: none;
    line-height: 100%;
    display: inline-block;
}