.company-page {
    margin-bottom: 50px;
    padding-bottom: 40px;
    font-size: 15px;
}
.company-content {
    max-width: 1024px;
    margin: auto;
    overflow: visible;
    z-index: 4;
}
.headers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 186px;
    background-color: white;
    border: 1px solid #d8d8d8;
    border-radius: 0 0 4px 4px;
}
.headers__logo {
    margin-top: -5px;
    width: 205px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.headers__logo__img {
    width: 168px;
    height: 160px;
    background-color: #fff;
    border: 1px solid #d2d2d2;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}
    .headers__logo__img img {
        max-width: 100%;
        max-height: 152px;
    }
.headers__info {
    padding-bottom: 10px;
    margin-bottom: 10px;
    flex: 1;
}
.headers__info__name {
    color: #353535;
    line-height: 35.2px;
    font-size: 32px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.headers__info__item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 5px;
}
headers__info__item-location {
    grid-column: 1/-1;
}

.svg-icon {
    display: flex;
    align-items: center;
}
.svg-icon__icon {
    fill: currentColor;
    width: 14px;
    height: 14px;
    color: #7a7a7a;
    flex-shrink: 0;
}
.svg-icon__text {
    margin-left: 10px;
}
.headers__actions {
    padding: 30px 20px;
    flex: 0 0 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.ibutton-follow {
    border: 1px solid #9a9c9e;
    color: #9a9c9e !important;
    background-color: #ffffff;
    width: 150px;
    height: 40px;
    line-height: 36px;
    padding: 0;
    outline: 0;
    text-decoration: none;
}
.ibutton-red {
    color: white;
    border: 0;
    background-color: #ea1e30 !important;
}
    .headers__actions > .ibutton:first-child {
        margin-bottom: 10px;
        text-decoration: none;
    }

.full-width.ibutton {
    width: 100%;
}
.headers__actions>a:hover {
    color: white;
    text-shadow: 0.5px 0.5px white;
    opacity: 0.9;
}
.ibutton-follow:hover {
    color: #ea1e30 !important;
    box-shadow: #ea1e30 1px 1px 1px 1px;
}

.company-page__container {
    margin-right: -15px;
    margin-left: -15px;
}
.company-page__left {
    width: 66.6666666667%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 7.5px;
}
.navigation {
    padding: 0;
    margin: 20px 0 0;
    background: #e9e9e9;
    border: 1px solid #d8d8d8;
    border-bottom: none;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
    .navigation::before, .clearfix::after, .navigation::after {
        content: " ";
        display: table;
    }
    .clearfix::after, .navigation::after {
        clear: both;
    }
.navigation__item {
    float: left;
    display: inline-block;
    position: relative;
    min-height: 55px;
    white-space: nowrap;
    list-style-type: none;
    padding: 15px 40px;
    background: #e9e9e9;
}
    .navigation__item a, .navigation__item span {
        color: #838383;
        font-weight: bold;
        outline: none;
        font-size: 17px;
        text-decoration: none;
    }
    .navigation__item:first-child.active {
        border-left: 0;
    }

    .navigation__item:first-child {
        border-top-left-radius: 5px;
    }

    .navigation__item.active {
        background: white;
        position: relative;
        top: -9px;
        height: 63px;
        margin-bottom: -16px;
        border-top-right-radius: 4px;
        border-top-left-radius: 4px;
        border: 1px solid #d3d3d3;
    }
.corner-bottom-right-overlay {
    display: none;
    width: 10px;
    height: 10px;
    position: absolute;
    right: -10px;
    bottom: -3px;
    background: white;
    z-index: 1;
}
.corner-bottom-right-curve {
    display: none;
    width: 10px;
    height: 10px;
    position: absolute;
    right: -10px;
    bottom: -3px;
    background: #e9e9e9;
    z-index: 1;
    border-bottom-left-radius: 5px;
    border-left: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
}
.corner-bottom-left-overlay {
    display: none;
    width: 10px;
    height: 10px;
    position: absolute;
    left: -10px;
    bottom: -3px;
    background: white;
    z-index: 1;
}
.corner-bottom-left-curve {
    display: none;
    width: 10px;
    height: 10px;
    position: absolute;
    left: -10px;
    bottom: -3px;
    background: #e9e9e9;
    z-index: 1;
    border-bottom-right-radius: 5px;
    border-right: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
}

.navigation__item.active .corner-bottom-left-curve, .navigation__item.active .corner-bottom-left-overlay, .navigation__item.active .corner-bottom-right-curve, .navigation__item.active .corner-bottom-right-overlay {
    display: block;
}
    .navigation__item.active a {
        color: #ea2635;
        position: relative;
        top: 5px;
    }
    .navigation__item.active::before {
        content: "";
        position: absolute;
        width: 100%;
        border-top: 4px solid #ea2635;
        left: 0;
        top: 0;
        border-top-left-radius: 4px;
        border-top-right-radius: 5px;
    }
    .navigation__item.active::after {
        content: "";
        height: 5px;
        background: white;
        position: absolute;
        width: 100%;
        left: 0;
        bottom: -3px;
    }



.panel {
    margin-bottom: 15px;
    background-color: white;
    border: 1px solid #dddddd;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
}
.jobs {
    overflow: hidden;
    position: sticky;
    top: 60px;
    height: calc(100vh - 60px);
}
.jobs>.panel-body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
}
.panel-default > .panel-heading {
    background: white;
    border: 0;
    padding: 20px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.panel-title {
    font-size: 25px;
    font-weight: 500;
    margin-top: 10px;
    color: #3d3d3d;
    font-family: "Roboto Condensed", sans-serif;
}
.panel-body {
    padding: 20px;
}
.super-hot-job .job_content {
    border-top: 2px solid rgba(255, 192, 121, 0.5);
    background: #fff1e1 !important;
    z-index: 4;
}

.job .job_content {
    display: flex;
    z-index: 3;
    position: relative;
    border-top: 1px solid #e7e7e7;
    overflow: hidden;
    font-weight: 400;
    padding: 27px 0;
    transition: all 0.25s ease;
}
    .job .job_content .logo {
        margin: 4px 30px 0 25px;
    }
        .job .job_content .logo img {
            border: 1px solid #ccc;
            background-color: white;
            padding: 3px;
            width: 65px;
            height: 65px;
            display: inline-block;
            overflow: hidden;
        }
.job__description {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
}
.job__body {
    display: flex;
}
.job .job_content .details {
    font-size: 13px;
    overflow: hidden;
    flex-grow: 1;
}
    .job .job_content .details .title {
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 5px;
        font-size: 20px;
        font-family: "Roboto", sans-serif;
        line-height: 28px;
        font-weight: 500;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
        .job .job_content .details .title a {
            color: #231f20;
        }
.super-hot-job .job_content .job-bottom {
    margin-top: 0;
}

.job .job_content .job-bottom {
    margin-top: 7px;
    width: 100%;
    font-size: 0;
    display: flex;
    justify-content: space-between;
}
.job .job_content .city_and_posted_date {
    font-size: 13px;
    display: inline-block;
    margin-right: 20px;
    margin-left: 10px;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 100px;
}
    .job .job_content .city_and_posted_date .text {
        color: #a6a8ab;
        display: block;
    }
.job .job_content .distance-time-job-posted {
    font-size: 13px;
}
    .job .job_content .distance-time-job-posted .distance-time {
        color: #a6a8ab;
    }
.company-page__right {
    width: 33.3333333333%;
    float: left;
    position: relative;
    min-height: 1px;
    padding: 20px 15px 0 7.5px;
}
.disable-user-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.featured-review__title {
    font-size: 22px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    color: #333;
    margin-top: 5px;
    margin-bottom: 10px;
    display: block;
    text-decoration: none;
    word-wrap: break-word;
}
.rating-stars-box {
    font-size: 0;
    position: relative;
    white-space: nowrap;
    display: inline-block;
}
    .rating-stars-box img.small {
        width: 20px;
        padding: 4px;
    }

    .rating-stars-box img {
        margin: 0 2px;
        padding: 8px;
        background-color: #4288f5;
        border-radius: 2px;
    }
    .rating-stars-box .grey-stars img {
        background-color: #E9E9E9;
    }

    .rating-stars-box img.small {
        width: 20px;
        padding: 4px;
    }
.ibutton-red:hover{
    color: white;
    text-shadow: 0.5px 0.3px white;
}