a{
    text-decoration: none !important;
}
li {
    display: list-item;
}
i {
    font-style: normal !important;
}
.header-overlay {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 30;
    opacity: 0;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
    margin-top: 64px;
}


.cps-navbar__box-main.affix {
    position: fixed;
    top: 0;
    z-index: 1000 !important;
}

.cps-navbar__box-main {
    width: 100%;
    height: auto;
    background: black;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%), 0 2px 4px -1px rgb(0 0 0 / 6%);
}

    .cps-navbar__box-main .cps-container {
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0 0;
        max-width: 1350px;
        margin: auto;
    }

        .cps-navbar__box-main .cps-container .box-logo {
            margin: 0 0px 0 0 !important;
            
            height: auto;
            float: left;
        }

            .cps-navbar__box-main .cps-container .box-logo img {
                border-radius: 4px;
                height: auto;
            }

        .cps-navbar__box-main .cps-container .main-menu {
            display: flex;
            list-style: none;
            margin:0;
            padding: 0;
        }
        .main-menu li {
            position: relative;
        }
            .main-menu li a {
                color: rgba(255, 255, 255, 0.55) !important;
                display: block;
                padding: 18px 20px;
                cursor: pointer;
            }
        .main-menu ul.sub-menu{
            position: absolute;
            background-color: black;
            padding: 3px 0px;
            list-style: none;
            min-width: 160px;
            border-bottom: 1px solid #434343;
            display: none;
        }
        
        .main-menu li:hover>ul.sub-menu{
            display: block;
        }
        .main-menu ul.sub-menu a{
            padding: 8px 15px;
            border-bottom:0.5px solid #434343;
            left: 0;
        }
        .main-menu ul.sub-menu li:hover>a{
           text-shadow: 1px 1px  white!important;
            font-weight: normal !important;
           
        }
        .main-menu ul.sub-menu :hover>ul.sub-menu {
            display: flex;
            flex-wrap: wrap;
            min-width: 400px;   
            justify-content: left;
            align-content: center;
        }
        .main-menu ul.sub-menu :hover li{
            width:100px;
            text-align: left;
        }
        .main-menu ul.sub-menu li:last-child a {
            border: none;
        }
        .main-menu ul.sub-menu ul.sub-menu {
            top: -3px;
            left: 160px;
        }
        .main-menu>li>a {
            position: relative;
        }
        .main-menu>li>a::before{
            content:"";
            height: 3px;
            width: 0px;
            background: red;
            position: absolute;
            bottom: 0px;
            transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
            left: 0px;
        }
        .main-menu>li:hover>a::before{
            width: 100%;
        }
        .main-menu>li.has-child::after{
            font-family: "Font Awesome 5 Free"; 
            font-weight: 900; 
            content: "\f107";
            color: rgba(255, 255, 255, 0.55) !important;
            position: absolute;
            top: 0px;
            right: 0px;
            padding: 18px 0px;
        }
        .main-menu .sub-menu > li.has-child::after {
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            content: "\f105";
            color: rgba(255, 255, 255, 0.55) !important;
            position: absolute;
            top: 0px;
            right: 0px;
            padding: 8px 10px;
        }

header.cps-header nav.cps-navbar .cps-navbar__box-main.affix + .clear {
    padding-top: 64px;
    background: black;
}
.nav-link {
    color: rgba(255, 255, 255, 0.55);
}
li#user-dropdown {
    cursor: pointer;
}

.page-header__navbar .nav-item {
    margin: 0 10px;
    flex: 0 0 auto;
}

.nav-item {
    padding: 10px 0;
    margin: 0 15px;
}

@media (min-width: 992px){
    .navbar-nav {
        flex-direction: row;
    }
    .navbar-nav .nav-link {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }   
}
.navbar-nav {
    flex-direction: row !important;
}
.navbar-nav .nav-item{
    position: relative;
}
.navbar-nav a{
    color: rgba(255, 255, 255, 0.55) !important;
}
    .navbar-nav li:hover > a {
        text-shadow: 1px 1px  white!important;
        transition: 0.4s;
    }
    .navbar-nav li:hover > ul.dropdown-user {
        display: block;
    }
    .navbar-nav:hover ul.dropdown-user {
        position: absolute;
        background: #2e2a2b;
        color: rgba(255, 255, 255, 0.55);
        left: 10px;
    }
li#user-dropdown:hover:before {
    --caret-width: 0.8rem;
    content: " ";
    display: block;
    position: absolute;
    bottom: 0px;
    right: 56%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 var(--caret-width) var(--caret-width);
    border-color: transparent transparent #2e2a2b transparent;
    transform: translateX(50%);
}
.dropdown-menu__item--user {
    padding: 2px 6px;
    position: relative;
    line-height: 32px;
}
li#user-dropdown .dropdown-menu__link--desktop {
    color: #bbbdbf;
    font-size: 16px;
}
.dropdown-menu__link--desktop {
    margin: 5px 0;
    border-radius: 3px;
    padding-left: 0 !important;
}
.dropdown-menu__item--user:not(:last-child)::after {
    content: "";
    height: 0;
    width: 100%;
    background-color: white;
    position: absolute;
    left: 0;
    bottom: -2px;
    border-bottom: 1px solid #353030;
    border-top: 1px solid #181415;
}
    .dropdown .dropdown-toggle__text {
    padding-right: 0;
}



.dropdown-toggle__text {
    padding: 3px 5px;
}
.dropdown .caret {
    margin-left: 0px;
}
.sign-in-user-avatar {
    height: 100%;
    display: inline-block;
    margin-top: -20px;
    margin-bottom: -20px;
}
    .sign-in-user-avatar img {
        display: inline-block;
        border-radius: 100%;
        margin-left: 10px;
        transition: all 0.2s ease;
        max-height: 40px;
    }
