.search-header--black {
    background-color: #221f20;
}
.search-form-wrapper {
    padding: 40px 15px 60px 15px;
}
.search-form-wrapper {
    max-width: 1024px;
    margin: 0 auto;
}

.slogan {
    font-size: 34px;
    margin: auto;
    max-width: 1024px;
    margin-top: 30px;
    font-family: "Roboto Condensed", sans-serif;
    padding-bottom: 30px;
    color: #fff;
    margin: 0 auto;
}


.slogan .br-on-mobile {
    display: none;
}
.search-form-wrapper .search-form {
    padding: 20px 0;
    display: flex;
    flex: 1;
}

.search-form__city-section, .search-form__keyword-section {
    z-index: 999;
    position: relative;
}

.search-form__keyword-section {
    flex-grow: 1;
    display: flex;
    height: 45px;
    line-height: 45px;
    background: white;
    border: 1px solid #bebebe;
}
.dropdown, .dropstart {
    position: relative;
}


.search-form__icon {
    padding-left: 10px;
}
.search-form__keyword-section .input-group:focus-within {
    box-shadow: 0 0 5px 1px #ea2635;
}
.search-form__keyword-section .svg-icon__icon {
    color: #343a40;
}
.svg-icon--16 .svg-icon__icon {
    width: 16px;
    height: 16px;
}
input[type=text].search-form__keyword-input {
    border: none;
    box-shadow: none;
    height: 100%;
    font-size: 16px;
    flex-grow: 1;
    color: #343a40;
}
.input-group > input[type=text], .input-group > input[type=password], .input-group > input[type=datetime], .input-group > input[type=datetime-local], .input-group > input[type=date], .input-group > input[type=month], .input-group > input[type=time], .input-group > input[type=week], .input-group > input[type=number], .input-group > input[type=email], .input-group > input[type=url], .input-group > input[type=search], .input-group > input[type=tel], .input-group > input[type=color], .input-group > .uneditable-input, .input-group > .form-select {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
}
input[type=text], input[type=password], input[type=datetime], input[type=datetime-local], input[type=date], input[type=month], input[type=time], input[type=week], input[type=number], input[type=email], input[type=url], input[type=search], input[type=tel], input[type=color], .uneditable-input {
    display: block;
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
}
    input[type=text].search-form__keyword-input:focus{
       box-shadow: none;
       border: none;
    }
input:focus-visible {
    outline-offset: 0px;
}
input[type=text]:focus, input[type=password]:focus, input[type=datetime]:focus, input[type=datetime-local]:focus, input[type=date]:focus, input[type=month]:focus, input[type=time]:focus, input[type=week]:focus, input[type=number]:focus, input[type=email]:focus, input[type=url]:focus, input[type=search]:focus, input[type=tel]:focus, input[type=color]:focus, .uneditable-input:focus {
    color: #212529;
    background-color: #fff;
    border-color: #a1c3fa;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(66 135 245 / 25%);
}
.search-form__city-section {
    flex: 0 0 185px;
    margin-left: 10px;
    display: flex;
    border: 1px solid #bebebe;
    background-color: white;
}
    .search-form__city-section select {
        visibility: hidden;
        height: 43px;
    }

.search-form__city-select {
    --select-item-height: 1.9375rem;
}

.ts-hidden-accessible {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
}
.ts-wrapper:not(.form-select) {
    padding: 0;
    border: none;
    height: auto;
    box-shadow: none;
    background: none;
}
.ts-wrapper {
    position: relative;
}
.ts-wrapper:not(.form-select).single .ts-control {
   
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    padding-right: 2rem;
}

.search-form__city-select .ts-control {
    cursor: pointer;
    min-height: 0;
    height: calc(var(--select-item-height) + 0.75rem);
    border-width: 0;
}
.search-form__city-select .item {
    line-height: var(--select-item-height);
    height: var(--select-item-height);
}
.ts-control .item {
    display: flex;
    align-items: center;
}

.ts-control > * {
    vertical-align: baseline;
    display: inline-block;
}

.full .ts-control {
    background-color: #fff;
}

@media (prefers-reduced-motion: reduce){
    .ts-control {
        transition: none;
    }
    
}

.ts-control {
    min-height: calc(1.5em + 0.75rem + 2px);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    display: flex;
    align-items: center;
}

.ts-control {
    border: 1px solid #ced4da;
    padding: 0.375rem 0.75rem;
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    box-shadow: none;
    border-radius: 0.25rem;
    display: flex;
    flex-wrap: wrap;
}

.ts-control, .ts-wrapper.single.input-active .ts-control {
    background: #fff;
    cursor: text;
}

    .ts-dropdown, .ts-control, .ts-control input {
        color: #343a40;
        font-family: inherit;
        font-size: inherit;
        line-height: 1.5;
    }
.first-overlay {
    z-index: 1049;
    pointer-events: none;
}

.search-overlay {
    display: none;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.6;
    background-color: transparent;
    transform: translate3d(0, 0, 0);
}
.second-overlay {
    z-index: 998;
}
.search-form__action-section {
    position: relative;
    height: 45px;
    flex: 0 0 110px;
    margin-left: 10px;
}
.search-form__action {
    width: 135px;
    height: 100%;
    font-size: 20px;
    
}
.button-red{
    color: white;
}
.page-header__tag-list {
    margin-bottom: 0;
}

.page-header__tag-list {
    margin-top: 30px;
    padding: 5px 0;
}

.jobs_index .pageMenu,.breadcrumbList,.page-header__tag-list,.slogan,.top-companies,.blog-list,.suggested-jobs, #footer .bottom {
    max-width: var(--search-page-width);
}
    .page-header__tag-list .ilabel.head {
        margin: 0;
    }

.ilabel.head:lang(vi-VN) {
    padding: 8px 8px 8px 3px;
}

.ilabel.no-border {
    border: 0;
}

.ilabel.head {
    color: white;
    padding: 8px;
    font-size: 14px;
}

@media (min-width: 576px)  {
    .d-sm-block {
        display: block !important;
    }
    
}
.page-header__tag-list>a:hover{
    color: black;
    background-color: white;
}


