<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li>
                <h2>&nbsp;Main Function</h2>
            </li>
            <li>
                <a href="/Admin/AccountManager/Account"><i class="fa fa-edit fa-fw" style="text-decoration: none"></i> Account Manager </a>

                <ul id="sub-menu" style="display: flex; text-decoration: none; list-style-type: none">
                    <li>

                        <a href="/Admin/AccountManager/Account"><i class="fa fa-edit fa-fw" style="display: none"></i> Account Manager </a>
                    </li>
                    <li>

                        <a href="/Admin/AccountManager/Account"><i class="fa fa-edit fa-fw"></i> Account Manager </a>
                    </li>
                </ul>
            </li>
            
            
            <li>
                <a href="/Admin/JobManager/Job    "><i class="fa fa-edit fa-fw"></i> Job Manager </a>
            </li>
            <li>
                <a href="/Admin/TitleManager/Title"><i class="fa fa-edit fa-fw"></i> Title Manager</a>
            </li>
            <li>
                <a href="/Admin/SkillManager/Skill"><i class="fa fa-edit fa-fw"></i>Skill Manager </a>
            </li>
            <!-- <li>
         <a href="/Admin/QuanLyKhachHang/DSKhachHang"><i class="fa fa-edit fa-fw"></i> Employer Manager</a>
     </li>
     <li>
         <a href="/Admin/QuanLyHoaDon/HoaDon"><i class="fa fa-edit fa-fw"></i> CV Manager</a>
     </li>-->
            <li>
                <a href="/Admin/CompanyManager/Company"><i class="fa fa-edit fa-fw"></i>Company Manager </a>
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
