@model IEnumerable<WebJob.Models.job_skill>
@{
    ViewBag.Title = "ListBySkill";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/list.css" rel="stylesheet" />
<div class="main-content container-fluid" id="homepage">
    <div class="job-skill-indices">
        <h1 class="job-skill-index-headline">Jobs by Skill</h1>
        <ul class="skill-tag__list">
            @foreach (var item in Model)
            {
                <li class="skill-tag__item"><a class="mkt-track skill-tag__link" data-controller="utm-tracking" href="@Url.Action("ListJobs","Jobs", new { @id = item.id_skill })">@item.name_skill</a></li>
            }

        </ul>
    </div>
</div>

