
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/company.css" rel="stylesheet" />
<link href="~/Content/Body.css" rel="stylesheet" />

<link href="~/Content/details.css" rel="stylesheet" />
<div class="std">
    <div class="cps-container">
        <div class="company-page">
            <div class="company-content">
                <div class="headers hidden-xs">
                    <div class="headers__logo">
                        <div class="headers__logo__img">
                            <picture>
                                <source data-srcset="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBN2ZGR2c9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--3d0f0ea82bc197abb6b483f53ec6ec28a71f3e19/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBPZ2wzWldKd09oSnlaWE5wZW1WZmRHOWZabWwwV3dkcEFhb3ciLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--a364054a300021d6ece7f71365132a9777e89a21/download.png" srcset="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBN2ZGR2c9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--3d0f0ea82bc197abb6b483f53ec6ec28a71f3e19/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBPZ2wzWldKd09oSnlaWE5wZW1WZmRHOWZabWwwV3dkcEFhb3ciLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--a364054a300021d6ece7f71365132a9777e89a21/download.png">
                                <img alt="Ngân Hàng Á Châu | ACB Vietnam Big Logo" data-controller="lazyload" data-src="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBN2ZGR2c9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--3d0f0ea82bc197abb6b483f53ec6ec28a71f3e19/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJY0c1bkJqb0dSVlE2RW5KbGMybDZaVjkwYjE5bWFYUmJCMmtCcWpBPSIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--623b1a923c4c6ecbacda77c459f93960558db010/download.png" class=" ls-is-cached lazyloaded" src="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBN2ZGR2c9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--3d0f0ea82bc197abb6b483f53ec6ec28a71f3e19/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJY0c1bkJqb0dSVlE2RW5KbGMybDZaVjkwYjE5bWFYUmJCMmtCcWpBPSIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--623b1a923c4c6ecbacda77c459f93960558db010/download.png">
                            </picture>
                        </div>
                    </div>
                    <div class="headers__info">
                        <h1 class="headers__info__name">
                            Ngân Hàng Á Châu | ACB
                        </h1>
                        <div class="headers__info__item">

                            <div class="svg-icon svg-icon--grey headers__info__item-location">
                                <svg class="svg-icon__icon">
                                    <use xlink:href="#location_icon"></use>
                                </svg>
                                <div class="svg-icon__text">Ho Chi Minh</div>
                            </div>
                            <div class="svg-icon">
                                <svg class="svg-icon__icon">
                                    <use xlink:href="#setting_icon"></use>
                                </svg>
                                <div class="svg-icon__text">Sản phẩm</div>
                            </div>
                            <div class="svg-icon">
                                <svg class="svg-icon__icon">
                                    <use xlink:href="#people_icon"></use>
                                </svg>
                                <div class="svg-icon__text">1000+</div>
                            </div>

                            <svg xmlns="http://www.w3.org/2000/svg" class="d-none">
                                <symbol id="vn-flag" viewBox="0 0 512 512">
                                    <circle style="fill:#D80027;" cx="256" cy="256" r="256"></circle>
                                    <polygon style="fill:#FFDA44;" points="256,133.565 283.628,218.594 373.033,218.594 300.702,271.144 328.33,356.174 256,303.623
                    183.67,356.174 211.298,271.144 138.968,218.594 228.372,218.594 "></polygon>
                                </symbol>
                            </svg>
                            <div class="svg-icon">
                                <svg class="svg-icon__icon">
                                    <use xlink:href="#vn-flag"></use>
                                </svg>
                                <div class="svg-icon__text">
                                    Vietnam
                                </div>
                            </div>
                            <div class="svg-icon">
                                <svg class="svg-icon__icon">
                                    <use xlink:href="#calendar_icon"></use>
                                </svg>
                                <div class="svg-icon__text">
                                    Thứ 2 - Thứ 6
                                </div>
                            </div>
                            <div class="svg-icon headers__info__item-ot">
                                <svg class="svg-icon__icon">
                                    <use xlink:href="#time_icon"></use>
                                </svg>
                                <div class="svg-icon__text">
                                    Không có OT
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="headers__actions">
                        <a class="button ibutton full-width ibutton-red" rel="nofollow" href="/companies/ngan-hang-a-chau-acb/review/new?utm_campaign=button_feature_review&amp;utm_medium=new_review&amp;utm_source=emp_page">Viết review</a>
                        <form id="follow-form" data-controller="employers--follow" data-employers--follow-yeah-robby-url-value="https://itviec.com/assets/roby-jrjdyeah-f2374e5dc33afdf35884e55c8e6ac807048f9b5e4e37b365f5558dde5cc9f116.png" data-employers--follow-sad-robby-url-value="https://itviec.com/assets/robby-sad-a1fb55a6e3945a12eff5fb75d5bbf4e34784cea4ae905ac0a90a7c2b76507983.png" data-action="ajax:success->employers--follow#success ajax:error->employers--follow#error" data-confirm-email-for-jr="true" class="button_to" method="post" action="/companies/ngan-hang-a-chau-acb/followings?locale=vi" data-remote="true"><button id="follow-button" class="loadable ibutton ibutton-follow full-width" data-disable="true" type="submit">Theo dõi</button><input type="hidden" name="authenticity_token" value="nqU78JeIYu04G9Vd_kzGw1IRAfOY3eoZQ6Bl7Z6V82r3a_lx3f7y8d9-OJ75Q3kZCNWvo1e5TSuXuDWWCayZiA" autocomplete="off"></form>
                    </div>
                </div>
                <div class="company-page__container">
                    <div class="company-page__left">
                        <ul class="navigation">
                            <li class="navigation__item active">
                                <a data-controller="utm-tracking" href="/nha-tuyen-dung/ngan-hang-a-chau-acb">Tuyển dụng</a>
                                <div class="corner-bottom-right-overlay"></div>
                                <div class="corner-bottom-right-curve"></div>
                            </li>
                            <li class="navigation__item review-tab">
                                <a data-controller="utm-tracking" href="/nha-tuyen-dung/ngan-hang-a-chau-acb/danh-gia">13 Reviews</a>
                                <div class="corner-bottom-right-overlay"></div>
                                <div class="corner-bottom-right-curve"></div>
                                <div class="corner-bottom-left-overlay"></div>
                                <div class="corner-bottom-left-curve"></div>
                            </li>
                        </ul>
                        <div class="panel panel-default jobs">
                            <div class="panel-heading">
                                <h2 class="panel-title">Ngân Hàng Á Châu | ACB Tuyển Dụng</h2>
                            </div>
                            <div class="panel-body">
                                <div class="job super-hot-job" data-action="click->search--job-selection#select" data-controller="search--job-selection" data-search--job-selection-auto-select-value="0" data-search--job-selection-job-url-value="/it-jobs/back-end-engineer-nodejs-net-python-ngan-hang-a-chau-acb-5040/content?locale=vi">
                                    <div class="job_content">
                                        <div class="logo">
                                            <div class="logo-wrapper job-details-link-wrapper" data-action="mouseover->tooltip#showTooltip click->tooltip#disposeTooltip" data-controller="tooltip" title="" data-bs-original-title="Asia Commercial Bank (ACB)">
                                                <a target="_blank" href="/nha-tuyen-dung/ngan-hang-a-chau-acb">
                                                    <picture>
                                                        <source data-srcset="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBN2ZGR2c9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--3d0f0ea82bc197abb6b483f53ec6ec28a71f3e19/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBPZ2wzWldKd09oTnlaWE5wZW1WZllXNWtYM0JoWkZzSGFVWnBSZz09IiwiZXhwIjpudWxsLCJwdXIiOiJ2YXJpYXRpb24ifX0=--b463bdd256cf502ad47897818e63b1477749f99e/download.png" srcset="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBN2ZGR2c9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--3d0f0ea82bc197abb6b483f53ec6ec28a71f3e19/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBPZ2wzWldKd09oTnlaWE5wZW1WZllXNWtYM0JoWkZzSGFVWnBSZz09IiwiZXhwIjpudWxsLCJwdXIiOiJ2YXJpYXRpb24ifX0=--b463bdd256cf502ad47897818e63b1477749f99e/download.png">
                                                        <img alt="Ngân Hàng Á Châu | ACB Vietnam Small Logo" data-controller="lazyload" data-src="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBN2ZGR2c9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--3d0f0ea82bc197abb6b483f53ec6ec28a71f3e19/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJY0c1bkJqb0dSVlE2RTNKbGMybDZaVjloYm1SZmNHRmtXd2RwUm1sRyIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--d55b6722f71e82d147ad94b8445be27797820f9f/download.png" size="65x65" class=" ls-is-cached lazyloaded" src="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBN2ZGR2c9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--3d0f0ea82bc197abb6b483f53ec6ec28a71f3e19/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJY0c1bkJqb0dSVlE2RTNKbGMybDZaVjloYm1SZmNHRmtXd2RwUm1sRyIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--d55b6722f71e82d147ad94b8445be27797820f9f/download.png">
                                                    </picture>
                                                </a>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="job__description">
                                            <div class="job__body">
                                                <div class="details">
                                                    <h3 class="title job-details-link-wrapper">
                                                        <a target="_blank" data-controller="utm-tracking" href="/viec-lam-it/back-end-engineer-nodejs-net-python-ngan-hang-a-chau-acb-5040?lab_feature=employer_job">Back-End Engineer (NodeJS, .Net, Python)</a>
                                                    </h3>
                                                    <div class="svg-icon svg-icon--rounded svg-icon--green">
                                                        <svg class="svg-icon__icon">
                                                            <use xlink:href="#usd_icon"></use>
                                                        </svg>
                                                        <div class="svg-icon__text">You'll love it</div>
                                                    </div>
                                                    <div class="d-none d-sm-block">
                                                        <ul class="benefits">
                                                            <li>Phúc lợi siêu hấp dẫn tại ACB</li>
                                                            <li>Lương cực kỳ cạnh tranh</li>
                                                            <li>Áp dụng công nghệ mới nhất</li>
                                                        </ul>
                                                    </div>
                                                    <div class="d-sm-none">
                                                        <div class="city">
                                                            <div class="text">Ho Chi Minh</div>
                                                        </div>
                                                        <ul class="benefits">
                                                            <li>Phúc lợi siêu hấp dẫn tại ACB</li>
                                                            <li>Lương cực kỳ cạnh tranh</li>
                                                            <li>Áp dụng công nghệ mới nhất</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="job-bottom">
                                                <div class="tag-list">
                                                    <a class="job__skill ilabel mkt-track" data-controller="utm-tracking" href="/viec-lam-it/python/ha-noi">
                                                        <span>
                                                            Python
                                                        </span>
                                                    </a><a class="job__skill ilabel mkt-track" data-controller="utm-tracking" href="/viec-lam-it/nodejs/ha-noi">
                                                        <span>
                                                            NodeJS
                                                        </span>
                                                    </a><a class="job__skill ilabel mkt-track" data-controller="utm-tracking" href="/viec-lam-it/.net/ha-noi">
                                                        <span>
                                                            .NET
                                                        </span>
                                                    </a>
                                                    <div class="visible-xs d-sm-none">
                                                        <div class="distance-time-job-posted">
                                                            <span class="distance-time">
                                                                21 ngày trước
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="city_and_posted_date d-none d-sm-flex">
                                            <div class="city">
                                                <div class="address">
                                                    <div class="text">Ho Chi Minh</div>
                                                </div>
                                            </div>
                                            <div class="distance-time-job-posted">
                                                <span class="distance-time">
                                                    21 ngày trước
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="job super-hot-job" data-action="click->search--job-selection#select" data-controller="search--job-selection" data-search--job-selection-auto-select-value="0" data-search--job-selection-job-url-value="/it-jobs/back-end-engineer-nodejs-net-python-ngan-hang-a-chau-acb-5040/content?locale=vi">
                                    <div class="job_content">
                                        <div class="logo">
                                            <div class="logo-wrapper job-details-link-wrapper" data-action="mouseover->tooltip#showTooltip click->tooltip#disposeTooltip" data-controller="tooltip" title="" data-bs-original-title="Asia Commercial Bank (ACB)">
                                                <a target="_blank" href="/nha-tuyen-dung/ngan-hang-a-chau-acb">
                                                    <picture>
                                                        <source data-srcset="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBN2ZGR2c9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--3d0f0ea82bc197abb6b483f53ec6ec28a71f3e19/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBPZ2wzWldKd09oTnlaWE5wZW1WZllXNWtYM0JoWkZzSGFVWnBSZz09IiwiZXhwIjpudWxsLCJwdXIiOiJ2YXJpYXRpb24ifX0=--b463bdd256cf502ad47897818e63b1477749f99e/download.png" srcset="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBN2ZGR2c9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--3d0f0ea82bc197abb6b483f53ec6ec28a71f3e19/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBPZ2wzWldKd09oTnlaWE5wZW1WZllXNWtYM0JoWkZzSGFVWnBSZz09IiwiZXhwIjpudWxsLCJwdXIiOiJ2YXJpYXRpb24ifX0=--b463bdd256cf502ad47897818e63b1477749f99e/download.png">
                                                        <img alt="Ngân Hàng Á Châu | ACB Vietnam Small Logo" data-controller="lazyload" data-src="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBN2ZGR2c9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--3d0f0ea82bc197abb6b483f53ec6ec28a71f3e19/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJY0c1bkJqb0dSVlE2RTNKbGMybDZaVjloYm1SZmNHRmtXd2RwUm1sRyIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--d55b6722f71e82d147ad94b8445be27797820f9f/download.png" size="65x65" class=" ls-is-cached lazyloaded" src="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBN2ZGR2c9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--3d0f0ea82bc197abb6b483f53ec6ec28a71f3e19/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJY0c1bkJqb0dSVlE2RTNKbGMybDZaVjloYm1SZmNHRmtXd2RwUm1sRyIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--d55b6722f71e82d147ad94b8445be27797820f9f/download.png">
                                                    </picture>
                                                </a>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="job__description">
                                            <div class="job__body">
                                                <div class="details">
                                                    <h3 class="title job-details-link-wrapper">
                                                        <a target="_blank" data-controller="utm-tracking" href="/viec-lam-it/back-end-engineer-nodejs-net-python-ngan-hang-a-chau-acb-5040?lab_feature=employer_job">Back-End Engineer (NodeJS, .Net, Python)</a>
                                                    </h3>
                                                    <div class="svg-icon svg-icon--rounded svg-icon--green">
                                                        <svg class="svg-icon__icon">
                                                            <use xlink:href="#usd_icon"></use>
                                                        </svg>
                                                        <div class="svg-icon__text">You'll love it</div>
                                                    </div>
                                                    <div class="d-none d-sm-block">
                                                        <ul class="benefits">
                                                            <li>Phúc lợi siêu hấp dẫn tại ACB</li>
                                                            <li>Lương cực kỳ cạnh tranh</li>
                                                            <li>Áp dụng công nghệ mới nhất</li>
                                                        </ul>
                                                    </div>
                                                    <div class="d-sm-none">
                                                        <div class="city">
                                                            <div class="text">Ho Chi Minh</div>
                                                        </div>
                                                        <ul class="benefits">
                                                            <li>Phúc lợi siêu hấp dẫn tại ACB</li>
                                                            <li>Lương cực kỳ cạnh tranh</li>
                                                            <li>Áp dụng công nghệ mới nhất</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="job-bottom">
                                                <div class="tag-list">
                                                    <a class="job__skill ilabel mkt-track" data-controller="utm-tracking" href="/viec-lam-it/python/ha-noi">
                                                        <span>
                                                            Python
                                                        </span>
                                                    </a><a class="job__skill ilabel mkt-track" data-controller="utm-tracking" href="/viec-lam-it/nodejs/ha-noi">
                                                        <span>
                                                            NodeJS
                                                        </span>
                                                    </a><a class="job__skill ilabel mkt-track" data-controller="utm-tracking" href="/viec-lam-it/.net/ha-noi">
                                                        <span>
                                                            .NET
                                                        </span>
                                                    </a>
                                                    <div class="visible-xs d-sm-none">
                                                        <div class="distance-time-job-posted">
                                                            <span class="distance-time">
                                                                21 ngày trước
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="city_and_posted_date d-none d-sm-flex">
                                            <div class="city">
                                                <div class="address">
                                                    <div class="text">Ho Chi Minh</div>
                                                </div>
                                            </div>
                                            <div class="distance-time-job-posted">
                                                <span class="distance-time">
                                                    21 ngày trước
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="job super-hot-job" data-action="click->search--job-selection#select" data-controller="search--job-selection" data-search--job-selection-auto-select-value="0" data-search--job-selection-job-url-value="/it-jobs/back-end-engineer-nodejs-net-python-ngan-hang-a-chau-acb-5040/content?locale=vi">
                                    <div class="job_content">
                                        <div class="logo">
                                            <div class="logo-wrapper job-details-link-wrapper" data-action="mouseover->tooltip#showTooltip click->tooltip#disposeTooltip" data-controller="tooltip" title="" data-bs-original-title="Asia Commercial Bank (ACB)">
                                                <a target="_blank" href="/nha-tuyen-dung/ngan-hang-a-chau-acb">
                                                    <picture>
                                                        <source data-srcset="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBN2ZGR2c9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--3d0f0ea82bc197abb6b483f53ec6ec28a71f3e19/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBPZ2wzWldKd09oTnlaWE5wZW1WZllXNWtYM0JoWkZzSGFVWnBSZz09IiwiZXhwIjpudWxsLCJwdXIiOiJ2YXJpYXRpb24ifX0=--b463bdd256cf502ad47897818e63b1477749f99e/download.png" srcset="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBN2ZGR2c9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--3d0f0ea82bc197abb6b483f53ec6ec28a71f3e19/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBPZ2wzWldKd09oTnlaWE5wZW1WZllXNWtYM0JoWkZzSGFVWnBSZz09IiwiZXhwIjpudWxsLCJwdXIiOiJ2YXJpYXRpb24ifX0=--b463bdd256cf502ad47897818e63b1477749f99e/download.png">
                                                        <img alt="Ngân Hàng Á Châu | ACB Vietnam Small Logo" data-controller="lazyload" data-src="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBN2ZGR2c9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--3d0f0ea82bc197abb6b483f53ec6ec28a71f3e19/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJY0c1bkJqb0dSVlE2RTNKbGMybDZaVjloYm1SZmNHRmtXd2RwUm1sRyIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--d55b6722f71e82d147ad94b8445be27797820f9f/download.png" size="65x65" class=" ls-is-cached lazyloaded" src="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBN2ZGR2c9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--3d0f0ea82bc197abb6b483f53ec6ec28a71f3e19/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJY0c1bkJqb0dSVlE2RTNKbGMybDZaVjloYm1SZmNHRmtXd2RwUm1sRyIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--d55b6722f71e82d147ad94b8445be27797820f9f/download.png">
                                                    </picture>
                                                </a>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="job__description">
                                            <div class="job__body">
                                                <div class="details">
                                                    <h3 class="title job-details-link-wrapper">
                                                        <a target="_blank" data-controller="utm-tracking" href="/viec-lam-it/back-end-engineer-nodejs-net-python-ngan-hang-a-chau-acb-5040?lab_feature=employer_job">Back-End Engineer (NodeJS, .Net, Python)</a>
                                                    </h3>
                                                    <div class="svg-icon svg-icon--rounded svg-icon--green">
                                                        <svg class="svg-icon__icon">
                                                            <use xlink:href="#usd_icon"></use>
                                                        </svg>
                                                        <div class="svg-icon__text">You'll love it</div>
                                                    </div>
                                                    <div class="d-none d-sm-block">
                                                        <ul class="benefits">
                                                            <li>Phúc lợi siêu hấp dẫn tại ACB</li>
                                                            <li>Lương cực kỳ cạnh tranh</li>
                                                            <li>Áp dụng công nghệ mới nhất</li>
                                                        </ul>
                                                    </div>
                                                    <div class="d-sm-none">
                                                        <div class="city">
                                                            <div class="text">Ho Chi Minh</div>
                                                        </div>
                                                        <ul class="benefits">
                                                            <li>Phúc lợi siêu hấp dẫn tại ACB</li>
                                                            <li>Lương cực kỳ cạnh tranh</li>
                                                            <li>Áp dụng công nghệ mới nhất</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="job-bottom">
                                                <div class="tag-list">
                                                    <a class="job__skill ilabel mkt-track" data-controller="utm-tracking" href="/viec-lam-it/python/ha-noi">
                                                        <span>
                                                            Python
                                                        </span>
                                                    </a><a class="job__skill ilabel mkt-track" data-controller="utm-tracking" href="/viec-lam-it/nodejs/ha-noi">
                                                        <span>
                                                            NodeJS
                                                        </span>
                                                    </a><a class="job__skill ilabel mkt-track" data-controller="utm-tracking" href="/viec-lam-it/.net/ha-noi">
                                                        <span>
                                                            .NET
                                                        </span>
                                                    </a>
                                                    <div class="visible-xs d-sm-none">
                                                        <div class="distance-time-job-posted">
                                                            <span class="distance-time">
                                                                21 ngày trước
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="city_and_posted_date d-none d-sm-flex">
                                            <div class="city">
                                                <div class="address">
                                                    <div class="text">Ho Chi Minh</div>
                                                </div>
                                            </div>
                                            <div class="distance-time-job-posted">
                                                <span class="distance-time">
                                                    21 ngày trước
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="job super-hot-job" data-action="click->search--job-selection#select" data-controller="search--job-selection" data-search--job-selection-auto-select-value="0" data-search--job-selection-job-url-value="/it-jobs/back-end-engineer-nodejs-net-python-ngan-hang-a-chau-acb-5040/content?locale=vi">
                                    <div class="job_content">
                                        <div class="logo">
                                            <div class="logo-wrapper job-details-link-wrapper" data-action="mouseover->tooltip#showTooltip click->tooltip#disposeTooltip" data-controller="tooltip" title="" data-bs-original-title="Asia Commercial Bank (ACB)">
                                                <a target="_blank" href="/nha-tuyen-dung/ngan-hang-a-chau-acb">
                                                    <picture>
                                                        <source data-srcset="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBN2ZGR2c9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--3d0f0ea82bc197abb6b483f53ec6ec28a71f3e19/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBPZ2wzWldKd09oTnlaWE5wZW1WZllXNWtYM0JoWkZzSGFVWnBSZz09IiwiZXhwIjpudWxsLCJwdXIiOiJ2YXJpYXRpb24ifX0=--b463bdd256cf502ad47897818e63b1477749f99e/download.png" srcset="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBN2ZGR2c9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--3d0f0ea82bc197abb6b483f53ec6ec28a71f3e19/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBPZ2wzWldKd09oTnlaWE5wZW1WZllXNWtYM0JoWkZzSGFVWnBSZz09IiwiZXhwIjpudWxsLCJwdXIiOiJ2YXJpYXRpb24ifX0=--b463bdd256cf502ad47897818e63b1477749f99e/download.png">
                                                        <img alt="Ngân Hàng Á Châu | ACB Vietnam Small Logo" data-controller="lazyload" data-src="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBN2ZGR2c9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--3d0f0ea82bc197abb6b483f53ec6ec28a71f3e19/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJY0c1bkJqb0dSVlE2RTNKbGMybDZaVjloYm1SZmNHRmtXd2RwUm1sRyIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--d55b6722f71e82d147ad94b8445be27797820f9f/download.png" size="65x65" class=" ls-is-cached lazyloaded" src="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBN2ZGR2c9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--3d0f0ea82bc197abb6b483f53ec6ec28a71f3e19/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJY0c1bkJqb0dSVlE2RTNKbGMybDZaVjloYm1SZmNHRmtXd2RwUm1sRyIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--d55b6722f71e82d147ad94b8445be27797820f9f/download.png">
                                                    </picture>
                                                </a>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="job__description">
                                            <div class="job__body">
                                                <div class="details">
                                                    <h3 class="title job-details-link-wrapper">
                                                        <a target="_blank" data-controller="utm-tracking" href="/viec-lam-it/back-end-engineer-nodejs-net-python-ngan-hang-a-chau-acb-5040?lab_feature=employer_job">Back-End Engineer (NodeJS, .Net, Python)</a>
                                                    </h3>
                                                    <div class="svg-icon svg-icon--rounded svg-icon--green">
                                                        <svg class="svg-icon__icon">
                                                            <use xlink:href="#usd_icon"></use>
                                                        </svg>
                                                        <div class="svg-icon__text">You'll love it</div>
                                                    </div>
                                                    <div class="d-none d-sm-block">
                                                        <ul class="benefits">
                                                            <li>Phúc lợi siêu hấp dẫn tại ACB</li>
                                                            <li>Lương cực kỳ cạnh tranh</li>
                                                            <li>Áp dụng công nghệ mới nhất</li>
                                                        </ul>
                                                    </div>
                                                    <div class="d-sm-none">
                                                        <div class="city">
                                                            <div class="text">Ho Chi Minh</div>
                                                        </div>
                                                        <ul class="benefits">
                                                            <li>Phúc lợi siêu hấp dẫn tại ACB</li>
                                                            <li>Lương cực kỳ cạnh tranh</li>
                                                            <li>Áp dụng công nghệ mới nhất</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="job-bottom">
                                                <div class="tag-list">
                                                    <a class="job__skill ilabel mkt-track" data-controller="utm-tracking" href="/viec-lam-it/python/ha-noi">
                                                        <span>
                                                            Python
                                                        </span>
                                                    </a><a class="job__skill ilabel mkt-track" data-controller="utm-tracking" href="/viec-lam-it/nodejs/ha-noi">
                                                        <span>
                                                            NodeJS
                                                        </span>
                                                    </a><a class="job__skill ilabel mkt-track" data-controller="utm-tracking" href="/viec-lam-it/.net/ha-noi">
                                                        <span>
                                                            .NET
                                                        </span>
                                                    </a>
                                                    <div class="visible-xs d-sm-none">
                                                        <div class="distance-time-job-posted">
                                                            <span class="distance-time">
                                                                21 ngày trước
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="city_and_posted_date d-none d-sm-flex">
                                            <div class="city">
                                                <div class="address">
                                                    <div class="text">Ho Chi Minh</div>
                                                </div>
                                            </div>
                                            <div class="distance-time-job-posted">
                                                <span class="distance-time">
                                                    21 ngày trước
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="job super-hot-job" data-action="click->search--job-selection#select" data-controller="search--job-selection" data-search--job-selection-auto-select-value="0" data-search--job-selection-job-url-value="/it-jobs/back-end-engineer-nodejs-net-python-ngan-hang-a-chau-acb-5040/content?locale=vi">
                                    <div class="job_content">
                                        <div class="logo">
                                            <div class="logo-wrapper job-details-link-wrapper" data-action="mouseover->tooltip#showTooltip click->tooltip#disposeTooltip" data-controller="tooltip" title="" data-bs-original-title="Asia Commercial Bank (ACB)">
                                                <a target="_blank" href="/nha-tuyen-dung/ngan-hang-a-chau-acb">
                                                    <picture>
                                                        <source data-srcset="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBN2ZGR2c9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--3d0f0ea82bc197abb6b483f53ec6ec28a71f3e19/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBPZ2wzWldKd09oTnlaWE5wZW1WZllXNWtYM0JoWkZzSGFVWnBSZz09IiwiZXhwIjpudWxsLCJwdXIiOiJ2YXJpYXRpb24ifX0=--b463bdd256cf502ad47897818e63b1477749f99e/download.png" srcset="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBN2ZGR2c9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--3d0f0ea82bc197abb6b483f53ec6ec28a71f3e19/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBPZ2wzWldKd09oTnlaWE5wZW1WZllXNWtYM0JoWkZzSGFVWnBSZz09IiwiZXhwIjpudWxsLCJwdXIiOiJ2YXJpYXRpb24ifX0=--b463bdd256cf502ad47897818e63b1477749f99e/download.png">
                                                        <img alt="Ngân Hàng Á Châu | ACB Vietnam Small Logo" data-controller="lazyload" data-src="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBN2ZGR2c9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--3d0f0ea82bc197abb6b483f53ec6ec28a71f3e19/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJY0c1bkJqb0dSVlE2RTNKbGMybDZaVjloYm1SZmNHRmtXd2RwUm1sRyIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--d55b6722f71e82d147ad94b8445be27797820f9f/download.png" size="65x65" class=" ls-is-cached lazyloaded" src="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBN2ZGR2c9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--3d0f0ea82bc197abb6b483f53ec6ec28a71f3e19/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJY0c1bkJqb0dSVlE2RTNKbGMybDZaVjloYm1SZmNHRmtXd2RwUm1sRyIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--d55b6722f71e82d147ad94b8445be27797820f9f/download.png">
                                                    </picture>
                                                </a>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="job__description">
                                            <div class="job__body">
                                                <div class="details">
                                                    <h3 class="title job-details-link-wrapper">
                                                        <a target="_blank" data-controller="utm-tracking" href="/viec-lam-it/back-end-engineer-nodejs-net-python-ngan-hang-a-chau-acb-5040?lab_feature=employer_job">Back-End Engineer (NodeJS, .Net, Python)</a>
                                                    </h3>
                                                    <div class="svg-icon svg-icon--rounded svg-icon--green">
                                                        <svg class="svg-icon__icon">
                                                            <use xlink:href="#usd_icon"></use>
                                                        </svg>
                                                        <div class="svg-icon__text">You'll love it</div>
                                                    </div>
                                                    <div class="d-none d-sm-block">
                                                        <ul class="benefits">
                                                            <li>Phúc lợi siêu hấp dẫn tại ACB</li>
                                                            <li>Lương cực kỳ cạnh tranh</li>
                                                            <li>Áp dụng công nghệ mới nhất</li>
                                                        </ul>
                                                    </div>
                                                    <div class="d-sm-none">
                                                        <div class="city">
                                                            <div class="text">Ho Chi Minh</div>
                                                        </div>
                                                        <ul class="benefits">
                                                            <li>Phúc lợi siêu hấp dẫn tại ACB</li>
                                                            <li>Lương cực kỳ cạnh tranh</li>
                                                            <li>Áp dụng công nghệ mới nhất</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="job-bottom">
                                                <div class="tag-list">
                                                    <a class="job__skill ilabel mkt-track" data-controller="utm-tracking" href="/viec-lam-it/python/ha-noi">
                                                        <span>
                                                            Python
                                                        </span>
                                                    </a><a class="job__skill ilabel mkt-track" data-controller="utm-tracking" href="/viec-lam-it/nodejs/ha-noi">
                                                        <span>
                                                            NodeJS
                                                        </span>
                                                    </a><a class="job__skill ilabel mkt-track" data-controller="utm-tracking" href="/viec-lam-it/.net/ha-noi">
                                                        <span>
                                                            .NET
                                                        </span>
                                                    </a>
                                                    <div class="visible-xs d-sm-none">
                                                        <div class="distance-time-job-posted">
                                                            <span class="distance-time">
                                                                21 ngày trước
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="city_and_posted_date d-none d-sm-flex">
                                            <div class="city">
                                                <div class="address">
                                                    <div class="text">Ho Chi Minh</div>
                                                </div>
                                            </div>
                                            <div class="distance-time-job-posted">
                                                <span class="distance-time">
                                                    21 ngày trước
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="job super-hot-job" data-action="click->search--job-selection#select" data-controller="search--job-selection" data-search--job-selection-auto-select-value="0" data-search--job-selection-job-url-value="/it-jobs/back-end-engineer-nodejs-net-python-ngan-hang-a-chau-acb-5040/content?locale=vi">
                                    <div class="job_content">
                                        <div class="logo">
                                            <div class="logo-wrapper job-details-link-wrapper" data-action="mouseover->tooltip#showTooltip click->tooltip#disposeTooltip" data-controller="tooltip" title="" data-bs-original-title="Asia Commercial Bank (ACB)">
                                                <a target="_blank" href="/nha-tuyen-dung/ngan-hang-a-chau-acb">
                                                    <picture>
                                                        <source data-srcset="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBN2ZGR2c9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--3d0f0ea82bc197abb6b483f53ec6ec28a71f3e19/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBPZ2wzWldKd09oTnlaWE5wZW1WZllXNWtYM0JoWkZzSGFVWnBSZz09IiwiZXhwIjpudWxsLCJwdXIiOiJ2YXJpYXRpb24ifX0=--b463bdd256cf502ad47897818e63b1477749f99e/download.png" srcset="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBN2ZGR2c9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--3d0f0ea82bc197abb6b483f53ec6ec28a71f3e19/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBPZ2wzWldKd09oTnlaWE5wZW1WZllXNWtYM0JoWkZzSGFVWnBSZz09IiwiZXhwIjpudWxsLCJwdXIiOiJ2YXJpYXRpb24ifX0=--b463bdd256cf502ad47897818e63b1477749f99e/download.png">
                                                        <img alt="Ngân Hàng Á Châu | ACB Vietnam Small Logo" data-controller="lazyload" data-src="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBN2ZGR2c9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--3d0f0ea82bc197abb6b483f53ec6ec28a71f3e19/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJY0c1bkJqb0dSVlE2RTNKbGMybDZaVjloYm1SZmNHRmtXd2RwUm1sRyIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--d55b6722f71e82d147ad94b8445be27797820f9f/download.png" size="65x65" class=" ls-is-cached lazyloaded" src="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBN2ZGR2c9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--3d0f0ea82bc197abb6b483f53ec6ec28a71f3e19/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJY0c1bkJqb0dSVlE2RTNKbGMybDZaVjloYm1SZmNHRmtXd2RwUm1sRyIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--d55b6722f71e82d147ad94b8445be27797820f9f/download.png">
                                                    </picture>
                                                </a>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="job__description">
                                            <div class="job__body">
                                                <div class="details">
                                                    <h3 class="title job-details-link-wrapper">
                                                        <a target="_blank" data-controller="utm-tracking" href="/viec-lam-it/back-end-engineer-nodejs-net-python-ngan-hang-a-chau-acb-5040?lab_feature=employer_job">Back-End Engineer (NodeJS, .Net, Python)</a>
                                                    </h3>
                                                    <div class="svg-icon svg-icon--rounded svg-icon--green">
                                                        <svg class="svg-icon__icon">
                                                            <use xlink:href="#usd_icon"></use>
                                                        </svg>
                                                        <div class="svg-icon__text">You'll love it</div>
                                                    </div>
                                                    <div class="d-none d-sm-block">
                                                        <ul class="benefits">
                                                            <li>Phúc lợi siêu hấp dẫn tại ACB</li>
                                                            <li>Lương cực kỳ cạnh tranh</li>
                                                            <li>Áp dụng công nghệ mới nhất</li>
                                                        </ul>
                                                    </div>
                                                    <div class="d-sm-none">
                                                        <div class="city">
                                                            <div class="text">Ho Chi Minh</div>
                                                        </div>
                                                        <ul class="benefits">
                                                            <li>Phúc lợi siêu hấp dẫn tại ACB</li>
                                                            <li>Lương cực kỳ cạnh tranh</li>
                                                            <li>Áp dụng công nghệ mới nhất</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="job-bottom">
                                                <div class="tag-list">
                                                    <a class="job__skill ilabel mkt-track" data-controller="utm-tracking" href="/viec-lam-it/python/ha-noi">
                                                        <span>
                                                            Python
                                                        </span>
                                                    </a><a class="job__skill ilabel mkt-track" data-controller="utm-tracking" href="/viec-lam-it/nodejs/ha-noi">
                                                        <span>
                                                            NodeJS
                                                        </span>
                                                    </a><a class="job__skill ilabel mkt-track" data-controller="utm-tracking" href="/viec-lam-it/.net/ha-noi">
                                                        <span>
                                                            .NET
                                                        </span>
                                                    </a>
                                                    <div class="visible-xs d-sm-none">
                                                        <div class="distance-time-job-posted">
                                                            <span class="distance-time">
                                                                21 ngày trước
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="city_and_posted_date d-none d-sm-flex">
                                            <div class="city">
                                                <div class="address">
                                                    <div class="text">Ho Chi Minh</div>
                                                </div>
                                            </div>
                                            <div class="distance-time-job-posted">
                                                <span class="distance-time">
                                                    21 ngày trước
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="company-page__right"><div class="panel panel-default company-ratings">
    <div class="panel-heading">
        <h3 class="panel-title">Review "Chất"</h3>
    </div>
    <div class="panel-body disable-user-select">

        <div class="featured-review">
            <span class="featured-review__title">sếp tốt, lương hơi thấp</span>
            <span class="rating-stars-box">
                <span class="blue-stars">
                    <img class="small" src="https://itviec.com/assets/rating-star-white-7e936fe21658ee9a7bf982b9ec56935cc7e20ffb6565217982c371d50c919653.svg" width="20" height="19">
                    <img class="small" src="https://itviec.com/assets/rating-star-white-7e936fe21658ee9a7bf982b9ec56935cc7e20ffb6565217982c371d50c919653.svg" width="20" height="19">
                    <img class="small" src="https://itviec.com/assets/rating-star-white-7e936fe21658ee9a7bf982b9ec56935cc7e20ffb6565217982c371d50c919653.svg" width="20" height="19">
                    <img class="small" src="https://itviec.com/assets/rating-star-white-7e936fe21658ee9a7bf982b9ec56935cc7e20ffb6565217982c371d50c919653.svg" width="20" height="19">
                </span>
                <span class="grey-stars">
                    <img class="small" src="https://itviec.com/assets/rating-star-white-7e936fe21658ee9a7bf982b9ec56935cc7e20ffb6565217982c371d50c919653.svg" width="20" height="19">
                </span>
            </span>
            <div class="featured-review__paragraph">
                văn phòng đẹp, sếp thân thiện,1 năm 13 tháng lương + thường KPI
            </div>
        </div>
        <div class="featured-review">
            <hr>
            <span class="featured-review__title">Môi trường làm việc ổn định</span>
            <span class="rating-stars-box">
                <span class="blue-stars">
                    <img class="small" src="https://itviec.com/assets/rating-star-white-7e936fe21658ee9a7bf982b9ec56935cc7e20ffb6565217982c371d50c919653.svg" width="20" height="19">
                    <img class="small" src="https://itviec.com/assets/rating-star-white-7e936fe21658ee9a7bf982b9ec56935cc7e20ffb6565217982c371d50c919653.svg" width="20" height="19">
                    <img class="small" src="https://itviec.com/assets/rating-star-white-7e936fe21658ee9a7bf982b9ec56935cc7e20ffb6565217982c371d50c919653.svg" width="20" height="19">
                </span>
                <span class="grey-stars">
                    <img class="small" src="https://itviec.com/assets/rating-star-white-7e936fe21658ee9a7bf982b9ec56935cc7e20ffb6565217982c371d50c919653.svg" width="20" height="19">
                    <img class="small" src="https://itviec.com/assets/rating-star-white-7e936fe21658ee9a7bf982b9ec56935cc7e20ffb6565217982c371d50c919653.svg" width="20" height="19">
                </span>
            </span>
            <div class="featured-review__paragraph">
                Môi trường tốt
                Đồng nghiệp thân thiện
                Công việc vừa sức
                Có trả công xứng đáng nếu dự án được kích hoạt chế độ OT
            </div>
        </div>
        <div class="featured-review">
            <hr>
            <span class="featured-review__title">Môi trường làm việc năng động</span>
            <span class="rating-stars-box">
                <span class="blue-stars">
                    <img class="small" src="https://itviec.com/assets/rating-star-white-7e936fe21658ee9a7bf982b9ec56935cc7e20ffb6565217982c371d50c919653.svg" width="20" height="19">
                    <img class="small" src="https://itviec.com/assets/rating-star-white-7e936fe21658ee9a7bf982b9ec56935cc7e20ffb6565217982c371d50c919653.svg" width="20" height="19">
                    <img class="small" src="https://itviec.com/assets/rating-star-white-7e936fe21658ee9a7bf982b9ec56935cc7e20ffb6565217982c371d50c919653.svg" width="20" height="19">
                    <img class="small" src="https://itviec.com/assets/rating-star-white-7e936fe21658ee9a7bf982b9ec56935cc7e20ffb6565217982c371d50c919653.svg" width="20" height="19">
                </span>
                <span class="grey-stars">
                    <img class="small" src="https://itviec.com/assets/rating-star-white-7e936fe21658ee9a7bf982b9ec56935cc7e20ffb6565217982c371d50c919653.svg" width="20" height="19">
                </span>
            </span>
            <div class="featured-review__paragraph">
                Văn phòng đẹp, đươcj tiếp cận với công nghệ mới trong ngân hàng
                OT ít, trả OT đầy đủ,được cung cấp ăn uống nếu OT quá khuya
            </div>
        </div>
        <br>
        <a class="button ibutton full-width big ibutton-red" rel="nofollow" href="/companies/ngan-hang-a-chau-acb/review/new?utm_campaign=button_feature_review&amp;utm_medium=new_review&amp;utm_source=emp_page">Viết review</a>
    </div>
</div>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
</div>
<script>
    $(document).ready(function () {
        $(".navigation__item").click(function () {
            $('.navigation__item').removeClass("active");
            $(this).addClass("active");
           
            return false;
        })
    })
</script>